!!!
= partial "partials/ece_acsii"
%html{lang: "zh-tw", class: "han-la"}
  %head
    %meta{charset: "utf-8"}

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}
    -# Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    -# Use title if it's in the page YAML frontmatter
    %title= current_page.data.title ? current_page.data.title + data.config.siteTitleSuffix : data.config.siteTitle
    = # favicon_tag 'images/favicon.png'
    %meta{name: "description", content: current_page.data.description || data.config.siteDescription}
    %meta{name: "keywords", content: current_page.data.keywords || data.config.siteKeywords}
    %meta{name: "og:title", content: current_page.data.title || data.config.siteTitle}
    %meta{name: "og:site_name", content: data.config.siteName}
    %meta{name: "og:image", content: current_page.data.og_image || data.config.siteOgImage}

    = stylesheet_link_tag "all"

    = partial "partials/justfont"
    = javascript_include_tag "modernizr"

  %body{class: page_classes}
    .wrapper
      = yield

    = javascript_include_tag "all"
    = auto_javascript_include_tag

    -# Google Analysis
    = partial "partials/GA"
