= wrap_layout :layout do
  .container
    %header
      .logo
        %hgroup
          %h1= current_page.data.title || data.config.siteTitle
          %h2= current_page.data.sub_title || data.config.siteSubTitle
    %nav.main-menu
      %h1 Main Navigation
      %ul
        = partial "partials/nav"
        .a
    %section.content.vertical-rhythm
      -# %h1= current_page.data.title || data.config.siteTitle
      = yield
    %footer
      = partial "partials/footer"
  .hero
