= nav_link '首頁<small>Home</small>', '/'
= nav_link '系介紹<small>About ECE</small>', '/about/'
= nav_link '家族直屬<small>Family</small>', '/family/'
= nav_link '系學會<small>SA</small>', '/SA/'
= nav_link '活動<small>Events</small>', '/events/'
= nav_link '經驗談<small>Blog</small>', '/articles/'
= nav_link '學生專區<small>For Students</small>', '/ece/'
= nav_link '測試<small>For test</small>', '/test_page/'
