%h1 Main Navigation
%ul
  = nav_link '系介紹', '/'
  = nav_link '系介紹', '/about'
  = nav_link '家族名單', '/family'
  = nav_link '系學會', '/SA'
  = nav_link '活動', '/events'
  = nav_link '經驗談', '/articles'
  = nav_link '學生專區', '/ece'
  = nav_link '測試', '/test_page'
